:root {
  /* ### Primary Colors */

--cyan: hsl(179, 62%, 43%);
--brt-yellow: hsl(71, 73%, 54%);

/* ### Neutral Colors */

--lt-gray: hsl(204, 43%, 93%);
--grayish-blue: hsl(218, 22%, 67%);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 375px;
  width: 100%;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }